@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;

}

html{
    scroll-behavior: smooth;
}

:root{
    --button-enter: hsl(0, 0%, 100%);
    --backgorund-default: linear-gradient(to right, rgb(0, 35, 80), rgb(18, 128, 218)); 
    --backgorund-body: rgb(241, 239, 239);

    --title-color: hsl(250, 6%, 19%);
    --text-color: hsl(0, 1%, 33%);

    --border-color: hsl(232, 17%, 91%);
    --border-element: 1px solid var(--border-color);

    --width-vw: 100%
}

body{
    background: var(--backgorund-body);
    font-family: Raleway;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.container {
    background: var(--backgorund-default);
    width: var(--width-vw);
    height: 900px;
}

nav{
    display: flex;
    justify-content: space-between;

    transform: translateX(9%);
}

nav .wrapper{
    display: flex;
    align-items: center;
}

.wrapper img {
    width: 150px;
    cursor: pointer;
}

li {
    font-size: 20px;
    display: inline-block;
    margin: 75px;
    cursor: pointer;
    font-family: Poppins;
}

.content {
    position: relative;
    height: 500px;
    width: 600px;
    margin-left: 200px;
    margin-top: 80px;
    background: transparent
}

.content h2 span {
    background-color: rgb(37, 131, 255);
    border-radius: 5px;
}

.sub-text-content {
    margin-top: 30px;
    line-height: 40px;
}

.text-animation {
    position: relative;
    margin-top: 100px;
    font-size: 20px;
}

.text-animation h4 {
    position: absolute;
    margin-left: 10px;
}

.image {
    position: absolute;
    margin-top: -500px;
    margin-left: 1100px;
}

.container button{
    height: 40px;
    width: 150px;
    margin-left: 830px;
    border: none;
    outline: none;
    background-color: rgb(37, 131, 255);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.tech {
    height: 500px;
}

/* Plataform */

.plataform{
    margin-top: 100px;
    width: var(--width-vw);
}

.sub-plataform{
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 200px;
}

.sub-plataform img{
    width: 500px;

    border: var(--border-element);
    border-radius: 10px;

    padding: 20px;
}

.content-about{
    width: 500px;

    border: var(--border-element);
    border-radius: 10px;

    padding: 20px;
}

.content-about h2{
    font-size: 30px;
    line-height: 1.5;

    color: var(--title-color);
}

.content-about p{
    color: var(--text-color);

    font-size: 20px;
    font-weight: 700;

    margin-top: 60px;

    line-height: 1.7;
}

/* Informações sobre a plataforma */

.info-about-plataform{

    background: var(--backgorund-default);
    height: 700px;

    margin-top: 100px;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-around;

    gap: 20px;
}

.info-about-plataform img{
    height: 350px;

    padding: 20px;
    border-radius: 10px;
}

.info-about-plataform h2{
    color: white;
    font-size: 80px;
}