@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;

}

html{
    scroll-behavior: smooth;
}

:root{
    --button-enter: hsl(0, 0%, 100%);
    --color-element: hsl(0, 1%, 15%);
    --backgorund-default: linear-gradient(to right, rgb(0, 35, 80), rgb(18, 128, 218)); 
    --backgorund-body: rgb(231, 229, 229);

    --width-vw: 100%
}

body{
    background: var(--backgorund-body);
    font-family: Raleway;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.container {
    background: var(--backgorund-default);
    width: var(--width-vw);
    height: 900px;
}

nav{
    display: flex;
    justify-content: space-between;

    transform: translateX(9%);
}

nav .wrapper{
    display: flex;
    align-items: center;
}

.wrapper img {
    width: 150px;
    cursor: pointer;
}

li {
    font-size: 20px;
    display: inline-block;
    margin: 75px;
    cursor: pointer;
    font-family: Poppins;
}

.content {
    position: relative;
    height: 500px;
    width: 600px;
    margin-left: 200px;
    margin-top: 80px;
    background: transparent
}

.content h2 span {
    background-color: rgb(37, 131, 255);
    border-radius: 5px;
}

.sub-text-content {
    margin-top: 30px;
    line-height: 40px;
}

.text-animation {
    position: relative;
    margin-top: 100px;
    font-size: 20px;
}

.text-animation h4 {
    position: absolute;
    margin-left: 10px;
}

.image {
    position: absolute;
    margin-top: -500px;
    margin-left: 1100px;
}

.container button{
    height: 40px;
    width: 150px;
    margin-left: 830px;
    border: none;
    outline: none;
    background-color: rgb(37, 131, 255);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.tech {
    height: 500px;
}

.plataform{
    margin-top: 200px;
    width: var(--width-vw);
}

.sub-plataform img{
    width: 500px;
}

.sub-plataform{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sub{
    position: absolute;

    width: 700px;
    height: 600px;

    margin-right: 720px;
    margin-top: 15px;

    border-radius: 10px;

    z-index: -1;

    background: rgb(4, 78, 173);
}

.content-about{
    width: 700px;
    height: 600px;
    margin-right: 250px;
    border-radius: 10px;

    background: rgba(37, 131, 255);
    text-align: center;
}

.about-title{
    margin-top: 35px;
}

.about-subtitle{
    margin-top: 60px;
    margin-bottom: 70px;
}

.about-text{
    margin-bottom: 70px;
    line-height: 30px;
}

.content-about button{
    height: 40px;
    width: 150px;
    border: none;
    outline: none;
    background-color: var(--button-enter);
    color: var(--color-element);
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.content-about p{
    font-weight: 700;
}