@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;

}

html {
    scroll-behavior: smooth;
}

:root {
    --button-enter: hsl(0, 0%, 100%);
    --backgorund-default: linear-gradient(to right, rgb(0, 35, 80), rgb(18, 128, 218));
    --backgorund-body: rgb(241, 239, 239);

    --title-color: hsl(250, 6%, 19%);
    --text-color: hsl(0, 1%, 33%);

    --border-color: hsl(232, 17%, 91%);
    --border-element: 1px solid var(--border-color);

    --width-vw: 100%
}

body {
    background: var(--backgorund-body);
    font-family: Inter;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

/* Navigation */

.container {
    background: var(--backgorund-default);
    width: var(--width-vw);
    height: 900px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 100px;
}

nav button.open-menu{
    display: none;
    background-color: transparent;
}

nav img {
    width: 150px;
    cursor: pointer;
}

li {
    font-size: 20px;
    display: inline-block;
    margin: 75px;
    cursor: pointer;
    font-family: Poppins;
}

.links ul li a::after {
    content: '';

    width: 0%;
    height: 2px;

    background-color: white;

    position: relative;
    bottom: -20px;

    display: block;

    transition: width .2s;
}

.links ul li a:hover::after{
    width: 100%;
}

.content-main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 10rem;
}

.content {
    display: flex;
    flex-direction: column;

    gap: 4.4rem;
}

.content h2 span {
    background-color: rgb(37, 131, 255);
    border-radius: 5px;
}

.sub-text-content {
    line-height: 3rem;
}

.text-animation {
    display: flex;
    flex-direction: row;

    font-size: 20px;
}

.image img{
    height: 400px;
}

.container button {
    height: 40px;
    width: 150px;

    margin-top: 10rem;
    margin-left: 50%;

    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 20px;

    background-color: rgb(255, 255, 255);
    color: var(--text-color);

    cursor: pointer;
}

.tech {
    height: 500px;
}

/* Plataform */

.plataform {
    margin-top: 100px;
    width: var(--width-vw);
}

.sub-plataform {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 200px;
}

.sub-plataform img {
    width: 500px;

    border: var(--border-element);
    border-radius: 10px;

    padding: 20px;
}

.content-about {
    width: 500px;

    border: var(--border-element);
    border-radius: 10px;

    padding: 20px;
}

.content-about h2 {
    font-size: 30px;
    line-height: 1.5;

    color: var(--title-color);
}

.content-about p {
    color: var(--text-color);

    font-size: 20px;
    font-weight: 700;

    margin-top: 60px;

    line-height: 1.7;
}

/* Informações sobre a plataforma */

.info-about-plataform {

    background: var(--backgorund-default);
    height: 700px;

    margin-top: 100px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    gap: 20px;
}

.info-about-plataform img {
    height: 350px;

    padding: 20px;
    border-radius: 10px;
}

.info-about-plataform .info {
    font-family: Poppins;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.info-about-plataform .info h2 {
    color: white;
    font-size: 80px;
}

.info-about-plataform .info p {
    color: white;
    font-size: 30px;
}

/* Cursos */

.courses{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 30px;
}

.courses h2{
    color: var(--title-color);
}

.cards{
    margin-top: 5rem;

    display: flex;
    flex-direction: row;

    gap: 4rem;
}

.card{
    padding: 1.7rem;
    width: 25rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    border: var(--border-element);
    border-radius: 5px;
}

.card img{
    height: 30px;
}

.card p, .card h3{
    color: var(--title-color);

    font-weight: bold;
}

.button-buy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-buy svg{
    height: 30px;
}

.card .button-buy button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 50%;

    font-weight: bold;
    font-size: 15px;

    text-transform: uppercase;

    background-color: hsl(120, 100%, 25%);
    padding: .8rem;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    transition: .3s;
}

.card .button-buy button p{
    color: white;
}

.card button:hover{
    background-color: rgb(0, 83, 0);
}

/* Footer */

footer{
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-around;
    text-align: left;

    margin-top: 10rem;

    width: 100%;
    height: 300px;

    background: grey;
}

footer a svg{
    height: 30px;
}

footer .social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 10%;
}

footer p{
    line-height: 2.4rem;
}

/* Responsividade */

@media (max-width: 1100px){

    *{
        margin: 0;
        padding: 0;
    }

    body{
        box-sizing: border-box;
    }

    /* Display none */

    nav .links, 
    .content-main .image,
    .container button:nth-child(3),
    .sub-plataform img{
        display: none;
    }

    /* Container */

    .container{
        background: transparent;
    }

    /* Navigation */

    .container nav{
        height: 8%;
        width: 100%;

        background: var(--backgorund-default);
    }

    .container nav img{
        height: 100px;
    }

    .container nav button{
        display: block;
        margin-top: 0;
    }

    /* Conteudo principal */

    .content-main{
        margin-top: 3rem;
        margin-left: 1rem;
    }

    .content{
        gap: 2rem;
    }

    .content h2, h3, h4{
        color: var(--text-color);
    }

    /* Plataforma */

    .plataform{
        margin-top: -20rem;
    }

    /* Info plataforma */

    .info-about-plataform{
        display: flex;
        flex-direction: column;

        height: 50rem;
    }

    .info-about-plataform img{
        height: 230px;
    }

    .info-about-plataform .info p{
        font-size: 20px;
    }

    /* Courses */

    .courses{
        padding: 0px;
        margin-top: 2.4rem;
    }

    .cards{
        box-sizing: border-box;
        flex-direction: column;
    }

    .card{
        padding-inline: 0px;
        width: 99%;
    }

    /* Footer */

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        align-items: center;

        text-align: center;
    }

    footer .social-links{
        flex-direction: row;
        justify-content: space-between;

        gap: 2rem;
        
        width: 60%;
    }

    footer p{
        font-size: 13px;
    }

}